body{
    margin: 0px;
}
.header{
    background-color: #f1f1f1;
    opacity: 0.6;
    padding: 20px;
    text-align: center;
    display: block;
}
.topnav{
    overflow: hidden;
    background-color: #717171;
    text-align: center;
}
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    max-width: 100%;
    height: 100%;
    font-size: medium;
}
h3 {
    margin-block-start: 12px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.topnav a:hover{
    color: black;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.search {
    background-color: white;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
    appearance: auto;
    padding: 1px 2px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.img {
    border: transparent;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    text-align: left;
}
.w-25 {
    width: 40% !important;
}
.card-title {
    margin-bottom: 0.5rem;
}
.card-text{
    margin-bottom: 0;
}
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #F2EAEA;
    border-bottom: 1px solid #F2EAEA;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
footer {
    background-color: #717171;
    color: whitesmoke;
    text-align: center;
    padding: 30px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-block-start: 40px;
    margin-inline-end: 120px;
    margin-inline-start: 120px;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
li {
    display: list-item;
    text-align: justify;
}
.mr-3 {
    margin-right: 1rem!important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mt-0 {
    margin-top: 0 !important;
}
h5 {
    font-size: 1.25rem;
}
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
a {
    text-decoration: none;
    color: #212529;
}
a:hover {
    color: black;
}
.checked {
    color: orange;
}

.topnav .search-container {
    float: right;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 10px;
    margin-inline-start:40px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 10px;
    margin-right: 0px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.topnav .search-container button:hover {
    background: #ccc;
}
.back-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    left: 28px;
    width: auto;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: auto;
}
  
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
  
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  
.form-container .btn {
    background-color: #1bc285;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.container{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}